{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
        <div class="row">
            <div class="col md-6 mx-auto">
            
                <h1>Ajouter une Todo</h1>
                
             {{ form_start(form)}}

             {{form_widget(form)}}
                <input type="submit" value="Soumettre" class="btn btn-primary">
             {{ form_end(form)}}
             <a href="{{ url('todo_list')}} "><< Retour</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
   
{% endblock %}