
{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
        <div class="row">
            <div class="col md-6 mx-auto">
                <div class="card p-2 m-2 shadow-sm text-center">
                    
                        <h1>Bienvenue sur Todolist</h1>
                        <p class="lead m-5">Créez un compte en quelques secondes <br> Et <br> Gérer vos Todos</p>
                   
                </div>
            </div>
        </div>
    </div>
{% endblock %}




{% block javascripts %}

        
{% endblock %}
